
h1 {
  text-align: center;
}

button {
  text-align: center;
  font-size: large;
}

#button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#sketch-board-container-parent {
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center;
  background-color: orange;
}